.form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 0.5rem;
    justify-content: flex-start;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}
