.container {
    font-family: Arial, sans-serif;
    color: white;
    text-align: left;
}

.select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;

    width: 150px;
    padding: 10px;
    color: var(--color-lightest);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--color-extra-dark);

}

.select option:hover {
    background-color: white;
}


