.button {
    border: none;
    padding: 4px 8px;
    background-color: var(--color-extra-dark);
    color: var(--color-lightest);
}

.icon{
    width: 20px;
    height: 20px;
}

.primary{
    border-radius: 5px;
}

.button:active  {
    scale: 1.1;
}

.button:disabled {
    background-color: var(--color-dark-medium);
    color: var(--color-lightest);
    cursor: not-allowed;
    opacity: 0.5;
}
