.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
}

.field {
    width: 200px;
    height: 30px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid var(--color-extra-dark);
    outline: none;
    background-color: var(--color-lightest);
    color: var(--color-extra-dark);
}

.field[placeholder] {
    color: var(--color-extra-dark);
}

.field:focus-within {
    border: 1px solid var(--color-medium);
}

.toggleButton {
    background: none;
    outline: none;
    border: none;
    position: absolute;
    background: var(--color-lightest);
    overflow: hidden;
    padding: 0 4px;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.toggleButton:hover {
    scale: 1;
}

.toggleButton:active {
    scale: 1;
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
}

.error {
    margin: 4px 0 0 0;
    font-size: 12px;
    color: var(--color-extra-dark);
    min-height: 16px;
}
