.inputContainer {
    position: relative;
    display: flex;
    flex-direction: column; /* Добавляем направление столбца */
}

.field {
    width: 200px;
    height: 30px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #7199d9;
    outline: none;
}

.field:focus-within {
    border: 1px solid #082961;
}

.toggleButton {
    background: none;
    outline: none;
    border: none;
    position: absolute;
    background: white;
    overflow: hidden;
    padding: 0 4px;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
}

.error {
    margin: 4px 0 0 0;
    font-size: 12px;
    color: black;
    min-height: 16px;
}
