.listItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px
}

.listItem div li a {
    color: var(--color-extra-dark);
    font-size: 14px;
    width: 250px;
    text-wrap: wrap;
    box-sizing: border-box;
}

.title{
    width: 250px
}

.rating {
    font-size: 14px;
    color: var(--color-extra-dark);
    width: 63px;
    padding: 4px 8px;
}
