.navBarWrapper {
    position: relative;
    width: 100%;
}

.burgerButton {
    display: none;
    background: none;
    border: none;
    padding: 3px;
    color: var(--color-lightest);
    cursor: pointer;
}

.burgerIcon {
    font-size: 24px;
}

.navBar {
    display: block;
}

@media (max-width: 768px) {
    .burgerButton {
        display: block;
    }
    .navBarWrapper {
        width: 100%;
        position: static;
        display: flex;
        align-items: center;
        flex-direction: column;
        background: var(--color-extra-dark);
    }

    .navBar {
        display: none;
    }

    .navBar.open {
        display: contents;
        background: var(--color-extra-dark);
    }
}
