.page{
    display: flex;
    flex-direction: column;
}
.page li a {
    color: var(--color-extra-dark);
}


.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--color-extra-dark);
}
.avatar{
    border-radius: 50%;
}
